<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Creazione Tabella</title>
</head>
<body>
    <h1>Creazione tabella "user_account"</h1>

    <form method="get" action="{{ path('create_table') }}">
        <button type="submit">Crea Tabella</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
