<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Table</title>
</head>
<body>
    <h1>Crea la tabella ex00 `users`</h1>
     <button><a href="create_table00">Crea Tabella</a></button>
</body>
</html>
