{% extends 'base.html.twig' %}

{% block title %}Hello CreateTableOrmController!{% endblock %}

{% block body %}
    <h1>Scegli la tua route</h1>
    <ul>
    <li>
     <button><a href="index_ex00">Crea Tabella ex00</a></button>
    </li>
    <li>
     <button><a href="index_ex01">Crea Tabella ex01</a></button>
    </li>
    <li>
     <button><a href="ex02">Crea Tabella ex02</a></button>
    </li>
    <li>
     <button><a href="ex03">Crea Tabella ex03</a></button>
    </li>
    </ul>
{% endblock %}
