<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Table</title>
</head>
<body>
    <h1>Crea la tabella `users`</h1>
     <button type="submit" formaction="{{form}}"> Crea Tabella</button>
    </form>

</body>
</html>
